
.animateOuch{
	animation: damageTranslate 0.1s cubic-bezier(0,.66,0,1.12);
}


@keyframes damageTranslate{
	0% {
		transform: translate(0px, 0px);
		background-color: none;
	}
	20% {
		transform: translate(-5px, 0px);
	}
	70% {
		background-color: #400;
		transform: translate(10px, 0px);
	}
	100% {
		background-color: none;
		transform: translate(0px, 0px);
	}

}
