@font-face {
    font-family: Crushed-Regular;
    src: url("../fonts/crushed/Crushed-Regular.ttf");
}

@font-face {
    font-family: Halogen;
    src: url("../fonts/Halogen.ttf");
}

h1, p {
    text-align: left;
}

p {
    font-size: 20px;
}

body {
    /* background: #A64B4B; */
    font-family: Halogen;
    padding-left: 30px;
}

.fancy {
    font-family: Crushed-Regular;
    /* font-weight: bolder; */
}

.blau {
    color: turquoise;
    text-emphasis-style: filled;
    text-align: center;
}

#Liebhaben {
    color: #E013C9;
}

#DieFünfzehn {
    color: gray;
}

table {
    width: 50%;
}

th, td {
    border: 1px solid black;
}

td {
    /* color: gray; */
    /* Wie zu mittig alignen?! */
}
